
<!-- start single wide column -->
<tr mc:repeatable mc:variant="One column">
	<td>
		
		<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
			<tr><td height="16" bgcolor="#ffffff"></td></tr><!-- vertical spacer -->
			<tr>
				<td>
					<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
						<tr>
							<td width="44" class="horz-spacer" bgcolor="#ffffff"></td><!-- horizontal spacer -->
							<td width="512" bgcolor="#ffffff">
								
								<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
									<tr>
										<td bgcolor="#ffffff" mc:edit="onecolheadline" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 18px; color: <%= colourBodyCopy %>;">
											Headline here (give style 'headline...')
										</td>
									</tr>
									<tr><td height="10" bgcolor="#ffffff"></td></tr><!-- vertical spacer -->
									<tr>
										<td bgcolor="#ffffff">
											<img mc:edit="onecolimage" src="https://gallery.mailchimp.com/bb032d1bbc4cfc382c8e99101/images/ph_image_512x130.gif" width="512" style="display: block; max-width: 512px; border:0 none; outline:none; text-decoration:none; height:auto; line-height:100%; -ms-interpolation-mode: bicubic;border:0 none; outline:none; text-decoration:none; height:auto; line-height:100%; -ms-interpolation-mode: bicubic;" class="fullWidth" alt="">
										</td>
									</tr>
									<tr><td height="10" bgcolor="#ffffff"></td></tr><!-- vertical spacer -->
									<tr>
										<td bgcolor="#ffffff" mc:edit="onecolbody" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; color: <%= colourBodyCopy %>;">
											Text here (give style 'bodyCopy')
										</td>
									</tr>
									<tr><td height="10" bgcolor="#ffffff"></td></tr><!-- vertical spacer -->
									<tr>
										<td bgcolor="#ffffff" mc:edit="onecolbutton">
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
												    <td>
												      <table border="0" cellspacing="0" cellpadding="0">
												        <tr>
												          <td align="center" style="-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" bgcolor="#f6a800">
												          <a href="http://www.thehiveyouthzone.org/" class="button-orange" target="_blank" style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; text-decoration: none; color: #ffffff !important; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 12px 18px; border: 1px solid #f6a800; display: inline-block; font-weight: bold;">Button text</a></td>
												        </tr>
												      </table>
												    </td>
												</tr>
											</table>
										</td>
									</tr>
								</table>	

							</td>
							<td width="44" class="horz-spacer" bgcolor="#ffffff"></td><!-- horizontal spacer -->
						</tr>
					</table>
				</td>
			</tr>
			<tr><td height="16" bgcolor="#ffffff"></td></tr><!-- vertical spacer -->
		</table>

	</td>
</tr>
<!-- end single wide column -->